@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}/*
.navigation{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 60px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    background:#03a9f4; 
}
.navigation ul li:nth-child(1){
    margin-bottom: 20px;
}
.navigation ul li:nth-child(1):hover{
    background: transparent;

}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffff;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon .fa{
    color: #ffff;
    font-size: 24px;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}*/
.main{
    position: absolute;
    /*width: calc(100% - 250px);
    left:250px;*/
    width: 100%;    
    min-height: 100vh;
    background: #003147;
    transition: 0.5s;
}
.main.active{
    width: 100% ;
    left: 60px; 
}
.main .topbar{
    width: 100%;
    background: #ffff;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .topbar .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
/*
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.toggle::before{
    content: '\f0c9';
    font-family: fontawesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}*/
.cardBox
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.cardBox .card{
    position: relative;
    background: #ffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.cardBox .card .numbers{
    position: relative;
    font-size: 2em;
    font-weight: 500;
}
.cardBox .card .cardName{
    color: #999;
}
.cardBox .card .cardNameC{
    font-weight: 600;
    margin-left: 10px;
}
.cardBox .card .averageNumber{
    position: relative;
    padding: 10px;
    margin-top: 10%;
}
.cardBox .card .averageName{
    color: #4b91b1;
    position: relative;
}
.cardBox .card .iconBox{
    font-size: 2.5em;
    color: #03a9f4;
}
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
}
.details .liveExecution{
    position: relative;
    min-height: 530px;
    background: #fff;
    padding: 20px;
    
}
.details .liveExecution .graph1{
    position: relative;
    padding: 10px 10px;
}
/*
.details .remoteControl{
    position: relative;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}*/

/*
.details .recentsExecutions{
    position: relative;
    display: grid;
    min-height: 400px;
    background: #fff;
    padding: 20px;   
    
}*/
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
}
.btn{
    position: relative;
    padding: 10px 20px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}
 /*
.details .historialT tr{
    display:block;
    overflow: auto;
    height: 100px;
} 
.details .historialT thead tr {
    display:block;
    
} */
.details table
{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.details table thead td{
    font-weight: 600;
}
/*
.details .recentsExecutions table{
    margin-top: 50px;
}
.details .recentsExecutions table tr{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    
}
.details .recentsExecutions table tbody tr:last-child{
    border-bottom: none;
}
.details .recentsExecutions table tbody tr:hover{
    background: #03a9f4;
    color: #fff;
}
.details .recentsExecutions table tr:hover{
    background: #03a9f4;
    color: #fff;
}  
.details .recentsExecutions table tr td{
    padding: 5px 5px;
}
/*.details .recentsExecutions table tbody tr td:last-child{
    text-align: left;
}*/

.details .historialVariables{
    background: #fff;
    padding: 20px;    
    overflow: hidden;
    
}
.details .historialT{
    position: center;
    margin-top: 50px;
}
.details .historialVariables table{
    margin-top: 50px;
}
.details .historialVariables table tr{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    
}
.details .historialVariables table tbody tr:last-child{
    border-bottom: none;
}
.details .historialVariables table tbody tr:hover{
    background: #03a9f4;
    color: #fff;
}
.details .historialVariables table tbody tr:hover{
    background: #03a9f4;
    color: #fff;
}  
.details .historialVariables table tr td{
    padding: 5px 5px;
    text-align: center;
}



/*
.details .remoteControl{
    position: relative;
    display: grid;
    min-height: 50px;
    background: #fff;
    padding: 20px;
}
*/
button{
    position: relative;
    padding: 10px, 20px;
    margin: 5px;
    background-color: rgb(180, 178, 178);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}/*
.remoteControl .btn{
    position:relative;
    background:  rgb(180, 178, 178);
    border:black;
    border-width: 0.5em;
    color:black;
}*/

.scrollContent{
    display: block;
    overflow-y: auto;
    width: 100%;
    height: 450px;
    table-layout: fixed;
}

.fixedHeader{
    display: block;
    
}

.paddingBetweenCols td
{
    padding:0 20px;
}
